@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');
@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&display=swap');

/* -main elements styles- */

body{
    background: url('../../assets/images/bg1.jpg') no-repeat center center fixed;
    background-size: cover;
}

th,label{
    font-family: "REM", serif;
    font-weight: 600;
    color: #ffffff;
}

.form-control {
    background-color: rgba(255, 255, 255, 0.1) !important;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.form-select {
    background-color: rgba(255, 255, 255, 0.1) !important;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

select option {
    background-color: rgba(255, 255, 255, 0.1) !important;
    color: #000000; /* Text color of the options */
}

.form-control:disabled, .form-control[readonly] {
    background-color: rgba(255, 255, 255, 0.1) !important;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.table-info {
    --bs-table-bg: rgba(207, 244, 252, 0);
    --bs-table-striped-bg: rgba(197, 232, 239, 0.6);
    --bs-table-striped-color: #000;
    --bs-table-active-bg: rgba(186, 220, 227, 0.6);
    --bs-table-active-color: #000;
    --bs-table-hover-bg: rgba(191, 226, 233, 0.6);
    --bs-table-hover-color: #000;
    color: rgb(0, 0, 0);
    font-weight: 600;
    border-color: rgb(186, 220, 227);
}


/* - Messages styles - */

.swal2-popup {
    border: 2px dotted rgba(0, 0, 0, 0.4);
    background: rgba(0,0,0,0.5);
    border-radius: 40px;
    color: #ffffff;
    font-family: "Roboto Thin", sans-serif;
}

.swal2-title {
    color: #ffffff;
    font-weight: 700;
}

.swal2-styled.swal2-confirm {
    border-radius: 20px;
    background-color: #0ccb03;
    background-image: linear-gradient(to right, #1af814, #51fc49);
}

.swal2-styled.swal2-confirm:hover {
    border-radius: 20px;
    background-color: #12e704;
}

.swal2-styled.swal2-confirm:active {
    border-radius: 20px;
    background-color: #12e704;
}

.swal2-styled.swal2-cancel {
    border-radius: 20px;
    background-color: #e80a0a;
    background-image: linear-gradient(to right, #f62d2d, #f51111);
}

.swal2-styled.swal2-cancel:hover {
    border-radius: 20px;
    background-color: #e80a0a;
}

.swal2-styled.swal2-cancel:active {
    border-radius: 20px;
    background-color: #e80a0a;
}


/* - side-menu - */

.navbar-brand {
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
}

.navbar-brand:hover {
    color: #f38813;
}

#current_user_name{
    padding-right: 15px;
    padding-top: 4px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

#v-pills-tab{
    background-color: rgba(10, 208, 4, 0);
    min-width: 145px;
}

#v-pills-tab>button{
    font-size: 15px;
    font-weight: bold;
    color: white;
}
#v-pills-tab>button:hover{
    font-size: 17px;
    color: #f38813;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: rgba(255, 255, 255, 0.1);
}

/* <-- common classes styles --> */
.form_sections {
    margin-left: 2vw;
    width: calc(98vw - 200px);
}

.table_sections {
    margin-left: 2vw;
    width: calc(98vw - 200px);
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 15px;
}

.form_sections>h3 {
    font-family: "REM", serif;
    font-weight: 600;
    color: #000000;
    -webkit-text-stroke: 1px #ffffff;
    text-stroke: 1px #ffffff;
    text-shadow: 0 0 8px rgba(241, 237, 237, 0.6);
}

.form_sections>h3>svg {
    color: #ffffff;
}


/* - Customer section styles - */



/* - Inventory section styles - */

.pic_container {
    display: flex;
    justify-content: center;
}

#preview_item_pic{
    width: 200px;
    aspect-ratio: 1/1;
    border: 2px solid white;
}


/* - Supplier section styles - */



/* - Stock section styles - */



/* - Employee section styles - */

#preview_employee_pic{
    width: 200px;
    aspect-ratio: 1/1;
    border: 2px solid white;
}


/* - User section styles - */



/*Order Section styles*/

#order_main_section{
    width: calc(98vw - 180px);
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    padding-left: 2vw;
}

#order_main_section>h3{
    font-family: "REM", serif;
    font-weight: 600;
    color: #000000;
    -webkit-text-stroke: 1px #ffffff;
    text-stroke: 1px #ffffff;
    text-shadow: 0 0 8px rgba(241, 237, 237, 0.6);
}

#order_main_section>h3>svg{
    color: #ffffff;
}

#order_form_set{
    width: 100%;
}

#order_form_set>section>form>div>input{
    background-color: rgba(255, 255, 255, 0.4);
}

#order_form_set>section>form>div>select{
    background-color: rgba(255, 255, 255, 0.6);
}

#form1, #form2, #form3{
    padding: 2vw;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    margin-right: 0.5vw;
    margin-left: 0.5vw;
}

#form1{
    background-color: rgba(255, 255, 255, 0.07);
}

#form2{
    background-color: rgba(255, 255, 255, 0.10);
}

#form3{
    background-color: rgba(255, 255, 255, 0.15);
}

#form1>h3, #form2>h3, #form3>h3{
    font-family: "REM", serif;
    font-weight: 600;
    color: #000000;
    -webkit-text-stroke: 1px #ffffff;
    text-stroke: 1px #ffffff;
    text-shadow: 0 0 8px rgba(241, 237, 237, 0.6);
    padding-bottom: 2vw;
}

#form3>form>h4{
    color: #09ff00;
    -webkit-text-stroke: 1px #ffffff;
    text-stroke: 1px #ffffff;
}

#form3>form>h5{
    color: #ff0016;
    -webkit-text-stroke: 1px #ffffff;
    text-stroke: 1px #ffffff;
}

#order_main_section>#table_section1{
    width: calc(96vw - 200px);
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    position: relative;
    padding: 2vw;
    left: 0;
    right: 0;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-top: 1vw;
    /*margin: 1vw auto 0 auto;*/
}

#order_main_section>#table_section1>h4{
    font-family: "REM", serif;
    font-weight: 600;
    color: #000000;
    -webkit-text-stroke: 1px #ffffff;
    text-stroke: 1px #ffffff;
    text-shadow: 0 0 8px rgba(241, 237, 237, 0.6);
    text-decoration: none;
}

#order_main_section>#table_section2{
    width: calc(96vw - 200px);
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    position: relative;
    padding: 2vw;
    left: 0;
    right: 0;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-top: 1vw;
    /*margin: 1vw auto 0 auto;*/
}

#order_main_section>#table_section2>h4{
    font-family: "REM", serif;
    font-weight: 600;
    color: #000000;
    -webkit-text-stroke: 1px #ffffff;
    text-stroke: 1px #ffffff;
    text-shadow: 0 0 8px rgba(241, 237, 237, 0.6);
    text-decoration: none;
}

@media all and (min-width: 1000px){
    #order_form_set>#form1,
    #order_form_set>#form2,
    #order_form_set>#form3{
        width: calc(96%/3);
        /*width: 30vw;*/
    }
}


/*  Bill  */

#bill_section {
    position: fixed;
    top: 20px;
    right: 0;
    left: 0;
    background-color: #ffffff;
    width: 100mm;
    height: fit-content;
    padding: 10mm 10mm 2mm;
    margin: auto;
    border: 2px solid #000;
}

#bill {
    width: 100%;
}

#bill h4 {
    text-align: center;
    margin-bottom: 0;
    font-weight: bold;
}

#bill h4 span {
    font-size: small;
}

#bill h6 {
    font-size: small;
    margin-top: 4px;
    margin-bottom: 0;
    text-align: center;
}

#bill h5 {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 0;
}

#bill h5:nth-child(4) {
    width: 146px;
    text-align: left;
}

#bill h5:nth-child(5) {
    width: 146px;
    text-align: right;
}

.bill-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 3mm;
}

.bill-table, .bill-table th, .bill-table td {
    border: 1px solid black;
}

.bill-table th, .bill-table td {
    padding: 4px;
    text-align: left;
}

.bill-table th {
    background-color: #f2f2f2;
    font-size: 11px;
    font-weight: bold;
    color: black;
}

.bill-table td {
    font-size: 10px;
}

.bill-footer {
    margin-top: 2mm;
}

.bill-footer h3 {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
}

.bill-footer h3:nth-child(1) {
    width: 146px;
    text-align: left;
}

.bill-footer h3:nth-child(2) {
    width: 146px;
    text-align: right;
}

.print-button {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 5mm;
}

.print-button button {
    padding: 2px;
    font-size: 13px;
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
/* --------------------------------------------------------------------------------------------------- */

/*     Admin panel    */

#most_item_pic_container {
    width: fit-content;
    margin: auto;
}
#most_item_pic_figure{
    margin: auto;
}
#preview_most_item_pic{
    width: 200px;
    aspect-ratio: 1/1;
    border: 2px solid white;
    position: relative;
    left: 24px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(45deg);
    }
    40% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(-45deg);
    }
    80% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes flip {
    0% {
        transform: perspective(400px) rotateY(0);
    }
    50% {
        transform: perspective(400px) rotateY(180deg);
    }
    100% {
        transform: perspective(400px) rotateY(0);
    }
}

#preview_most_item_pic{
    /*animation: rotate 5s linear infinite;*/
    animation: flip 5s ease infinite;
}

.card {
    overflow: hidden;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.25)) !important;
}

.card-block{
    padding: 2vw;
    border-radius: 15px;
}

.card-block h6{
    color: #000000;
    font-size: 20px;
    font-weight: bold;
}

.card-block h5{
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    -webkit-text-stroke: 1px #000000;
    text-stroke: 1px #000000;
}

.rotate {
    float: right;
    height: 100%;
}

.card-block .rotate svg {
    color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    position: absolute;
    left: auto;
    right: 5px;
    bottom: 10px;
    display: block;
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    transform: rotate(-25deg);
}

#most_item_pic_figure>h6{
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.3);
}
#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 5px 0;
}

#footer p {
    font-family: "Roboto Thin", sans-serif;
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.6);
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 15px;
    margin: 0;
}

#alert_table_section {
    border-radius: 15px;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.25)) !important;
}
#alert_table_section>h3 {
    text-align: center;
    color: rgba(255, 0, 0, 0.75);
    font-size: 25px;
    font-weight: bold;
    -webkit-text-stroke: 1px #000000;
    text-stroke: 1px #000000;
}
#alert_table_section>div>table {
    margin: 0;
}