<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Amidu Shamika">
    <title>Hello Shoes</title>
    <link rel="icon" href="../../assets/favicon.png" type="image/png" sizes="16x16">
    <link rel="stylesheet" href="../../assets/css/normalize.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-minimal@4/minimal.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.2/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="./dashboard-styles.css">
</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Hello Shoes</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-warning" id="btn-logout" type="button">Logout</button>
            </form>
        </div>
    </div>
</nav>
<!--side-menu-->
<div class="d-flex align-items-start">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</button>
        <button class="nav-link" id="v-pills-customer-tab" data-bs-toggle="pill" data-bs-target="#v-pills-customer" type="button" role="tab" aria-controls="v-pills-customer" aria-selected="false"><i class="fa-solid fa-users fa-flip" style="color: #FFD43B;"></i>Customers</button>
        <button class="nav-link" id="v-pills-items-tab" data-bs-toggle="pill" data-bs-target="#v-pills-items" type="button" role="tab" aria-controls="v-pills-items" aria-selected="false">Inventories</button>
        <button class="nav-link" id="v-pills-suppliers-tab" data-bs-toggle="pill" data-bs-target="#v-pills-suppliers" type="button" role="tab" aria-controls="v-pills-suppliers" aria-selected="false">Suppliers</button>
        <button class="nav-link" id="v-pills-stock-tab" data-bs-toggle="pill" data-bs-target="#v-pills-stock" type="button" role="tab" aria-controls="v-pills-stock" aria-selected="false">Stock</button>
        <button class="nav-link" id="v-pills-employee-tab" data-bs-toggle="pill" data-bs-target="#v-pills-employee" type="button" role="tab" aria-controls="v-pills-employee" aria-selected="false">Employees</button>
        <button class="nav-link" id="v-pills-user-tab" data-bs-toggle="pill" data-bs-target="#v-pills-user" type="button" role="tab" aria-controls="v-pills-user" aria-selected="false">Users</button>
    </div>
    <div class="tab-content" id="v-pills-tabContent">
        <!--Home page-->
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0"> home</div>

        <!--Customer page-->
        <div class="tab-pane fade" id="v-pills-customer" role="tabpanel" aria-labelledby="v-pills-customer-tab" tabindex="0">
            <!--Customer Form-->
            <section id="customer_form_section">
                <h3><i class="fa-solid fa-users fa-flip" style="color: #FFD43B;"></i>Customer</h3><hr>
                <form class="row g-3">
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="customer_code" class="form-label">Customer Code</label>
                        <input type="text" class="form-control" id="customer_code" readonly>
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="customer_name" class="form-label">Customer Name</label>
                        <input type="text" class="form-control" id="customer_name">
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="gender_select" class="form-label">Gender</label>
                        <select id="gender_select" class="form-select">
                            <option value="0">-Select Gender-</option>
                            <option value="MALE">MALE</option>
                            <option value="FEMALE">FEMALE</option>
                        </select>
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="join_date" class="form-label">Join Date</label>
                        <input type="date" class="form-control" id="join_date">
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="total_points" class="form-label">Total Points</label>
                        <input type="number" class="form-control" id="total_points">
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="customer_level" class="form-label">Level</label>
                        <input type="text" class="form-control" id="customer_level" readonly>
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="dob" class="form-label">Birthday</label>
                        <input type="date" class="form-control" id="dob">
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="building_no" class="form-label">Home/Building No.</label>
                        <input type="text" class="form-control" id="building_no">
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="lane" class="form-label">Lane</label>
                        <input type="text" class="form-control" id="lane">
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="city" class="form-label">City</label>
                        <input type="text" class="form-control" id="city">
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="state" class="form-label">State</label>
                        <input type="text" class="form-control" id="state">
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="postal_code" class="form-label">Postal Code</label>
                        <input type="text" class="form-control" id="postal_code">
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="contact_no" class="form-label">Contact No.</label>
                        <input type="tel" class="form-control" id="contact_no">
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="rp_date_time" class="form-label">Recent Purchase D&T</label>
                        <input type="datetime-local" class="form-control" id="rp_date_time" readonly>
                    </div>
                    <div id="customer_btns" class="mt-3 mb-4">
                        <button type="button" class="btn btn-success" id="save">Save</button>
                        <button type="button" class="btn btn-primary">Update</button>
                        <button type="button" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-warning">RE</button>
                    </div>
                </form>
            </section>
            <!--Customer Table-->
            <section id="customer_table_section">
                <div class="col col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <table class="table table-info table-sm table-hover table-borderless">
                        <thead>
                        <tr>
                            <th scope="col">Customer Code</th>
                            <th scope="col">Name</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Join Date</th>
                            <th scope="col">Level</th>
                            <th scope="col">Points</th>
                            <th scope="col">DOB</th>
                            <th scope="col">Address</th>
                            <th scope="col">Contact</th>
                            <th scope="col">Email</th>
                            <th scope="col">Recent Purchase D&T</th>
                        </tr>
                        </thead>
                        <tbody id="customer_tbl_body">
                        <tr>
                            <td>C-0001</td>
                            <td>Customer Name</td>
                            <td>Male</td>
                            <td>2022-02-02</td>
                            <td>NEW</td>
                            <td>0</td>
                            <td>1999-09-09</td>
                            <td>Sample customer address 00000</td>
                            <td>0701234567</td>
                            <td>customer@gmail.com</td>
                            <td>2024-04-04 11:30:00.688000</td>
                        </tr>
                        <tr>
                            <td>C-0002</td>
                            <td>Customer Name</td>
                            <td>Male</td>
                            <td>2022-02-02</td>
                            <td>NEW</td>
                            <td>0</td>
                            <td>1999-09-09</td>
                            <td>Sample customer address 00000</td>
                            <td>0701234567</td>
                            <td>customer@gmail.com</td>
                            <td>2024-04-04 11:30:00.688000</td>
                        </tr>
                        <tr>
                            <td>C-0003</td>
                            <td>Customer Name</td>
                            <td>Male</td>
                            <td>2022-02-02</td>
                            <td>NEW</td>
                            <td>0</td>
                            <td>1999-09-09</td>
                            <td>Sample customer address 00000</td>
                            <td>0701234567</td>
                            <td>customer@gmail.com</td>
                            <td>2024-04-04 11:30:00.688000</td>
                        </tr>
                        <tr>
                            <td>C-0004</td>
                            <td>Customer Name</td>
                            <td>Male</td>
                            <td>2022-02-02</td>
                            <td>NEW</td>
                            <td>0</td>
                            <td>1999-09-09</td>
                            <td>Sample customer address 00000</td>
                            <td>0701234567</td>
                            <td>customer@gmail.com</td>
                            <td>2024-04-04 11:30:00.688000</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
        <!--Inventories page-->
        <div class="tab-pane fade" id="v-pills-items" role="tabpanel" aria-labelledby="v-pills-items-tab" tabindex="0">
            <!--Inventories Form-->
            <section id="inventory_form_section">
                <h3>Inventories</h3><hr>
                <div class="item_pic_container">
                    <figure class="figure" id="item_pic_figure">
                        <img class="figure-img img-fluid rounded" id="preview_item_pic" src="#" alt="Preview" style="display: none;">
                    </figure>
                </div>
                <form class="row g-3">
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="item_code" class="form-label">Item Code</label>
                        <input type="text" class="form-control" id="item_code" readonly>
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="item_desc" class="form-label">Item Desc</label>
                        <input type="text" class="form-control" id="item_desc">
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="item_pic" class="form-label">Item Img</label>
                        <input type="file" class="form-control" id="item_pic">
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="item_category_select" class="form-label">Category</label>
                        <select id="item_category_select" class="form-select">
                            <option value="0">-Select Category-</option>
                            <option value="F">Formal</option>
                            <option value="C">Casual</option>
                            <option value="S">Sport</option>
                            <option value="I">Industrial</option>
                        </select>
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="item_gender_select" class="form-label">Gender Type</label>
                        <select id="item_gender_select" class="form-select">
                            <option value="0">-Select Gender-</option>
                            <option value="M">Men</option>
                            <option value="W">Women</option>
                        </select>
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="item_type_select" class="form-label">Type</label>
                        <select id="item_type_select" class="form-select">
                            <option value="0">-Select Type-</option>
                            <option value="HE">Heel</option>
                            <option value="FL">Flats</option>
                            <option value="WE">Wedges</option>
                            <option value="FF">Flip Flops</option>
                            <option value="SA">Sandals</option>
                            <option value="SH">Shoes</option>
                            <option value="SL">Slippers</option>
                        </select>
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="item_supplier_select" class="form-label">Supplier Code</label>
                        <select id="item_supplier_select" class="form-select">
                            <option value="0">-Select Supplier-</option>
                        </select>
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="item_supplier_name" class="form-label">Supplier Name</label>
                        <input type="text" class="form-control" id="item_supplier_name" readonly>
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="item_buy_price" class="form-label">Buy Price</label>
                        <input type="number" class="form-control" id="item_buy_price">
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="item_sell_price" class="form-label">Sell Price</label>
                        <input type="number" class="form-control" id="item_sell_price">
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="item_profit" class="form-label">Profit</label>
                        <input type="number" class="form-control" id="item_profit" readonly>
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="item_profit_margin" class="form-label">Profit Margin</label>
                        <input type="number" class="form-control" id="item_profit_margin" readonly>
                    </div>

                    <div id="inventory_btns" class="mt-3 mb-4">
                        <button type="button" class="btn btn-success">Save</button>
                        <button type="button" class="btn btn-primary">Update</button>
                        <button type="button" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-warning">RE</button>
                    </div>
                </form>
            </section>
            <!--Inventories Table-->
            <section id="inventory_table_section">
                <div class="col col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <table class="table table-info table-sm table-hover table-borderless">
                        <thead>
                        <tr>
                            <th scope="col">Item Code</th>
                            <th scope="col">Desc</th>
                            <th scope="col">Image</th>
                            <th scope="col">Category</th>
                            <th scope="col">Supplier</th>
                            <th scope="col">Sup_Name</th>
                            <th scope="col">Buy Price</th>
                            <th scope="col">Sell Price</th>
                            <th scope="col">Profit</th>
                            <th scope="col">P_Margin</th>
                        </tr>
                        </thead>
                        <tbody id="inventory_tbl_body">
                        <tr>
                            <td>FMSH-0001</td>
                            <td>Sample description</td>
                            <td><img src="../../assets/images/samplePic.png" alt="Image" width="100px"></td>
                            <td>Casual</td>
                            <td>S-0001</td>
                            <td>Supplier Name</td>
                            <td>1000.00</td>
                            <td>1200.00</td>
                            <td>200.00</td>
                            <td>16.67</td>
                        </tr>
                        <tr>
                            <td>FMSH-0002</td>
                            <td>Sample description</td>
                            <td><img src="../../assets/images/samplePic.png" alt="Image" width="100px"></td>
                            <td>Casual</td>
                            <td>S-0001</td>
                            <td>Supplier Name</td>
                            <td>1000.00</td>
                            <td>1200.00</td>
                            <td>200.00</td>
                            <td>16.67</td>
                        </tr>
                        <tr>
                            <td>FMSH-0003</td>
                            <td>Sample description</td>
                            <td><img src="../../assets/images/samplePic.png" alt="Image" width="100px"></td>
                            <td>Casual</td>
                            <td>S-0001</td>
                            <td>Supplier Name</td>
                            <td>1000.00</td>
                            <td>1200.00</td>
                            <td>200.00</td>
                            <td>16.67</td>
                        </tr>
                        <tr>
                            <td>FMSH-0004</td>
                            <td>Sample description</td>
                            <td><img src="../../assets/images/samplePic.png" alt="Image" width="100px"></td>
                            <td>Casual</td>
                            <td>S-0001</td>
                            <td>Supplier Name</td>
                            <td>1000.00</td>
                            <td>1200.00</td>
                            <td>200.00</td>
                            <td>16.67</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
        <!--Suppliers page-->
        <div class="tab-pane fade" id="v-pills-suppliers" role="tabpanel" aria-labelledby="v-pills-suppliers-tab" tabindex="0">
            <!--Suppliers Form-->
            <section id="supplier_form_section">
                <h3>Suppliers</h3><hr>
                <form class="row g-3">
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="supplier_code" class="form-label">Supplier Code</label>
                        <input type="text" class="form-control" id="supplier_code" readonly>
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="supplier_name" class="form-label">Supplier Name</label>
                        <input type="text" class="form-control" id="supplier_name">
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="supplier_category_select" class="form-label">Category</label>
                        <select id="supplier_category_select" class="form-select">
                            <option value="0">-Select Category-</option>
                            <option value="INTERNATIONAL">International</option>
                            <option value="LOCAL">Local</option>
                        </select>
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="supplier_building_no" class="form-label">Building No.</label>
                        <input type="text" class="form-control" id="supplier_building_no">
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="supplier_lane" class="form-label">Lane</label>
                        <input type="text" class="form-control" id="supplier_lane">
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="supplier_city" class="form-label">City</label>
                        <input type="text" class="form-control" id="supplier_city">
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="supplier_state" class="form-label">State</label>
                        <input type="text" class="form-control" id="supplier_state">
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="supplier_postal_code" class="form-label">Postal Code</label>
                        <input type="text" class="form-control" id="supplier_postal_code">
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="supplier_origin_country" class="form-label">Origin Country</label>
                        <input type="text" class="form-control" id="supplier_origin_country">
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="supplier_contact_no1" class="form-label">Mobile No.</label>
                        <input type="tel" class="form-control" id="supplier_contact_no1">
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="supplier_contact_no2" class="form-label">Land No.</label>
                        <input type="tel" class="form-control" id="supplier_contact_no2">
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="supplier_email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="supplier_email">
                    </div>
                    <div id="supplier_btns" class="mt-3 mb-4">
                        <button type="button" class="btn btn-success">Save</button>
                        <button type="button" class="btn btn-primary">Update</button>
                        <button type="button" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-warning">RE</button>
                    </div>
                </form>
            </section>
            <!--Suppliers Table-->
            <section id="supplier_table_section">
                <div class="col col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <table class="table table-info table-sm table-hover table-borderless">
                        <thead>
                        <tr>
                            <th scope="col">Supplier Code</th>
                            <th scope="col">Supplier Name</th>
                            <th scope="col">Category</th>
                            <th scope="col">Address</th>
                            <th scope="col">Mobile No</th>
                            <th scope="col">Land No</th>
                            <th scope="col">Email</th>
                        </tr>
                        </thead>
                        <tbody id="supplier_tbl_body">
                        <tr>
                            <td>S-0001</td>
                            <td>Nike</td>
                            <td>INTERNATIONAL</td>
                            <td>Nike Global Store 11111 USA</td>
                            <td>055000111222</td>
                            <td>088000111222</td>
                            <td>nike@gmail.com</td>
                        </tr>
                        <tr>
                            <td>S-0001</td>
                            <td>Nike</td>
                            <td>INTERNATIONAL</td>
                            <td>Nike Global Store 11111 USA</td>
                            <td>055000111222</td>
                            <td>088000111222</td>
                            <td>nike@gmail.com</td>
                        </tr>
                        <tr>
                            <td>S-0001</td>
                            <td>Nike</td>
                            <td>INTERNATIONAL</td>
                            <td>Nike Global Store 11111 USA</td>
                            <td>055000111222</td>
                            <td>088000111222</td>
                            <td>nike@gmail.com</td>
                        </tr>
                        <tr>
                            <td>S-0001</td>
                            <td>Nike</td>
                            <td>INTERNATIONAL</td>
                            <td>Nike Global Store 11111 USA</td>
                            <td>055000111222</td>
                            <td>088000111222</td>
                            <td>nike@gmail.com</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
        <!--Stock page-->
        <div class="tab-pane fade" id="v-pills-stock" role="tabpanel" aria-labelledby="v-pills-stock-tab" tabindex="0">
            <!--Stock Form-->
            <section id="stock_form_section">
                <h3>Stock</h3><hr>
                <form class="row g-3">
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="stock_code" class="form-label">Stock Code</label>
                        <input type="text" class="form-control" id="stock_code" readonly>
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="stock_item_code_select" class="form-label">Item Code</label>
                        <select id="stock_item_code_select" class="form-select">
                            <option value="0">-Select Item-</option>
                            <option>FMSH-0001</option>
                            <option>FWSH-0002</option>
                        </select>
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="stock_supplier_code" class="form-label">Supplier Code</label>
                        <input type="text" class="form-control" id="stock_supplier_code" readonly>
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="stock_item_size_select" class="form-label">Size</label>
                        <select id="stock_item_size_select" class="form-select">
                            <option value="0">-Select Size-</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                        </select>
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="original_qty" class="form-label">Original Qty.</label>
                        <input type="number" class="form-control" id="original_qty">
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="available_qty" class="form-label">Available Qty.</label>
                        <input type="number" class="form-control" id="available_qty">
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="stock_status" class="form-label">Status</label>
                        <input type="text" class="form-control" id="stock_status" readonly>
                    </div>
                    <div id="stock_btns" class="mt-3 mb-4">
                        <button type="button" class="btn btn-success">Save</button>
                        <button type="button" class="btn btn-primary">Update</button>
                        <button type="button" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-warning">RE</button>
                    </div>
                </form>
            </section>
            <!--Stock Table-->
            <section id="stock_table_section">
                <div class="col col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <table class="table table-info table-sm table-hover table-borderless">
                        <thead>
                        <tr>
                            <th scope="col">Stock Code</th>
                            <th scope="col">Item Code</th>
                            <th scope="col">Supplier Code</th>
                            <th scope="col">Size</th>
                            <th scope="col">Original Qty.</th>
                            <th scope="col">Available Qty.</th>
                            <th scope="col">Status</th>
                        </tr>
                        </thead>
                        <tbody id="stock_tbl_body">
                        <tr>
                            <td>ST-0001</td>
                            <td>FMSH-0001</td>
                            <td>S-0001</td>
                            <td>6</td>
                            <td>100</td>
                            <td>75</td>
                            <td>Available</td>
                        </tr>
                        <tr>
                            <td>ST-0002</td>
                            <td>FWSH-0002</td>
                            <td>S-0001</td>
                            <td>5</td>
                            <td>80</td>
                            <td>30</td>
                            <td>Low</td>
                        </tr>
                        <tr>
                            <td>ST-0003</td>
                            <td>FMSH-0001</td>
                            <td>S-0002</td>
                            <td>7</td>
                            <td>100</td>
                            <td>0</td>
                            <td>Not Available</td>
                        </tr>
                        <tr>
                            <td>ST-0004</td>
                            <td>FWSH-0002</td>
                            <td>S-0002</td>
                            <td>6</td>
                            <td>80</td>
                            <td>30</td>
                            <td>Low</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
        <!--Employee page-->
        <div class="tab-pane fade" id="v-pills-employee" role="tabpanel" aria-labelledby="v-pills-employee-tab" tabindex="0">
            <!--Employee Form-->
            <section id="employee_form_section">
                <h3><i class="fa-solid fa-users fa-flip" style="color: #FFD43B;"></i>Employees</h3><hr>
                <div class="employee_pic_container">
                    <figure class="figure" id="employee_pic_figure">
                        <img class="figure-img img-fluid rounded" id="preview_employee_pic" src="#" alt="Preview" style="display: none;">
                    </figure>
                </div>
                <form class="row g-3">
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="employee_code" class="form-label">Employee Code</label>
                        <input type="text" class="form-control" id="employee_code" readonly>
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="employee_name" class="form-label">Employee Name</label>
                        <input type="text" class="form-control" id="employee_name">
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="employee_pic" class="form-label">Profile Pic.</label>
                        <input type="file" class="form-control" id="employee_pic">
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="employee_gender_select" class="form-label">Gender</label>
                        <select id="employee_gender_select" class="form-select">
                            <option value="0">-Select Gender-</option>
                            <option value="MALE">MALE</option>
                            <option value="FEMALE">FEMALE</option>
                        </select>
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="employee_civil_status_select" class="form-label">Civil Status</label>
                        <select id="employee_civil_status_select" class="form-select">
                            <option value="0">-Select Status-</option>
                            <option value="MARRIED">MARRIED</option>
                            <option value="NOT MARRIED">NOT MARRIED</option>
                        </select>
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="designation_select" class="form-label">Designation</label>
                        <select id="designation_select" class="form-select">
                            <option value="0">-Select Designation-</option>
                            <option value="Manager">Manager</option>
                            <option value="Cashier">Cashier</option>
                            <option value="Service Rep">Service Rep</option>
                            <option value="Clerk">Clerk</option>
                        </select>
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="access_role" class="form-label">Access Role</label>
                        <input type="text" class="form-control" id="access_role" readonly>
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="employee_dob" class="form-label">Birthday</label>
                        <input type="date" class="form-control" id="employee_dob">
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="employee_join_date" class="form-label">Join Date</label>
                        <input type="date" class="form-control" id="employee_join_date">
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="attached_branch" class="form-label">Attached Branch</label>
                        <input type="text" class="form-control" id="attached_branch">
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="employee_home_no" class="form-label">Home Name/No.</label>
                        <input type="text" class="form-control" id="employee_home_no">
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="employee_lane" class="form-label">Lane</label>
                        <input type="text" class="form-control" id="employee_lane">
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="employee_city" class="form-label">City</label>
                        <input type="text" class="form-control" id="employee_city">
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="employee_state" class="form-label">State</label>
                        <input type="text" class="form-control" id="employee_state">
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="employee_postal_code" class="form-label">Postal Code</label>
                        <input type="text" class="form-control" id="employee_postal_code">
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="employee_contact_no" class="form-label">Contact No.</label>
                        <input type="tel" class="form-control" id="employee_contact_no">
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="employee_email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="employee_email">
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="guardian_name" class="form-label">Guardian Name</label>
                        <input type="text" class="form-control" id="guardian_name">
                    </div>
                    <div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="guardian_contact_no" class="form-label">Guardian Contact No.</label>
                        <input type="tel" class="form-control" id="guardian_contact_no">
                    </div>
                    <div id="employee_btns" class="mt-3 mb-4">
                        <button type="button" class="btn btn-success">Save</button>
                        <button type="button" class="btn btn-primary">Update</button>
                        <button type="button" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-warning">RE</button>
                    </div>
                </form>
            </section>
            <!--Employee Table-->
            <section id="employee_table_section">
                <div class="col col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 table-responsive">
                    <table class="table table-info table-sm table-hover table-borderless">
                        <thead>
                        <tr>
                            <th scope="col">Employee Code</th>
                            <th scope="col">Name</th>
                            <th scope="col">Profile Pic</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Status</th>
                            <th scope="col">Designation</th>
                            <th scope="col">Access Role</th>
                            <th scope="col">DOB</th>
                            <th scope="col">Join Date</th>
                            <th scope="col">Branch</th>
                            <th scope="col">Address</th>
                            <th scope="col">Contact</th>
                            <th scope="col">Email</th>
                            <th scope="col">Guardian</th>
                            <th scope="col">G_Contact</th>
                        </tr>
                        </thead>
                        <tbody id="employee_tbl_body">
                        <tr>
                            <td>E-0001</td>
                            <td>Employee name</td>
                            <td><img src="../../assets/images/sampleEmp.png" alt="Image" width="100px"></td>
                            <td>Male</td>
                            <td>Married</td>
                            <td>Manager</td>
                            <td>Admin</td>
                            <td>1984-04-04</td>
                            <td>2010-10-10</td>
                            <td>Colombo</td>
                            <td>Employee address 00000</td>
                            <td>0701234567</td>
                            <td>employee1@gmail.com</td>
                            <td>Guardian</td>
                            <td>0712345678</td>
                        </tr>
                        <tr>
                            <td>E-0002</td>
                            <td>Employee name</td>
                            <td><img src="../../assets/images/sampleEmp.png" alt="Image" width="100px"></td>
                            <td>Male</td>
                            <td>Not Married</td>
                            <td>Cashier</td>
                            <td>User</td>
                            <td>1984-04-04</td>
                            <td>2010-10-10</td>
                            <td>Colombo</td>
                            <td>Employee address 00000</td>
                            <td>0701234567</td>
                            <td>employee2@gmail.com</td>
                            <td>Guardian</td>
                            <td>0712345678</td>
                        </tr>
                        <tr>
                            <td>E-0003</td>
                            <td>Employee name</td>
                            <td><img src="../../assets/images/sampleEmp.png" alt="Image" width="100px"></td>
                            <td>Male</td>
                            <td>Married</td>
                            <td>Clark</td>
                            <td>User</td>
                            <td>1984-04-04</td>
                            <td>2010-10-10</td>
                            <td>Colombo</td>
                            <td>Employee address 00000</td>
                            <td>0701234567</td>
                            <td>employee3@gmail.com</td>
                            <td>Guardian</td>
                            <td>0712345678</td>
                        </tr>
                        <tr>
                            <td>E-0004</td>
                            <td>Employee name</td>
                            <td><img src="../../assets/images/sampleEmp.png" alt="Image" width="100px"></td>
                            <td>Male</td>
                            <td>Not Married</td>
                            <td>Cashier</td>
                            <td>User</td>
                            <td>1984-04-04</td>
                            <td>2010-10-10</td>
                            <td>Colombo</td>
                            <td>Employee address 00000</td>
                            <td>0701234567</td>
                            <td>employee4@gmail.com</td>
                            <td>Guardian</td>
                            <td>0712345678</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
        <!--User page-->
        <div class="tab-pane fade" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab" tabindex="0">
            <!--User Form-->
            Users
            <!--User Table-->
        </div>
    </div>
</div>
<script src="../../assets/js/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.2/js/all.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="../../assets/js/navigation.js"></script>
<script src="../../controller/dashboard-controller.js"></script>
<script src="../../controller/customer-controller.js"></script>
<script src="../../controller/inventory-controller.js"></script>
<script src="../../controller/supplier-controller.js"></script>
<script src="../../controller/stock-controller.js"></script>
<script src="../../controller/employee-controller.js"></script>
<script src="../../controller/user-controller.js"></script>
</body>
</html>